* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Work Sans";
}
.wrapper {
  background: #2e2e2e;
}
nav {
  position: fixed;
  top: 25%;
  left: 20px;
}

section {
  width: 100vw;
}
main {
  display: flex;
}
ul {
  list-style: none;
}
.bild li {
  padding-top: 50px;
}
i {
  color: rgb(234, 204, 194, 0.5);
}
.rahmen {
  border-left: 1px solid rgb(234, 204, 194, 0.5);
  padding: 27px;
  margin-left: 7px;
  margin-top: 3px;
}

.rahmen:nth-of-type(2) {
  margin-left: 9px;
}

.logo {
  display: block;
  margin: 1px 15px;
}
.bild {
  padding: 30px;
  width: 55%;
  height: 93vh;
  background: url(../img/section-voyager.jpg) center/cover no-repeat;
}
.bild2 {
  padding: 30px;
  width: 55%;
  height: 93vh;
  background: url(../img/section-experience-1.jpg) center/cover no-repeat;
}
.bild3 {
  padding: 30px;
  width: 55%;
  height: 93vh;
  background: url(../img/section-composition4.jpg) center/cover no-repeat;
}
.bild4 {
  padding: 30px;
  width: 55%;
  height: 93vh;
  background: url(../img/newspaper.jpg) center/cover no-repeat;
}
span {
  display: block;
}

.border i {
  border: 1px solid #fff;
  padding: 0.2%;
  border-radius: 50%;
}
h3 {
  display: inline;
  padding-left: 30px;
  color: rgb(234, 204, 194, 0.5);
  font-weight: 300;
  font-size: 16px;
}

article {
  margin-top: 20%;
}
.lounger {
  color: #fff;
}

a {
  display: block;
  margin-top: 20px;
}

a:nth-of-type(n + 2) {
  margin-top: 18px;
}

a {
  text-decoration: none;
  color: rgb(234, 204, 194);
}
.info {
  background: #2e2e2e;
  width: 42vw;
  color: rgb(234, 204, 194);
  margin-top: -2%;
}
.kopfhörer {
  margin-left: 17%;
}
.mail {
  width: 10%;
  background: rgb(234, 204, 194);
  border-radius: 50%;
  margin-left: 40%;
  margin-top: 20%;
  margin-bottom: -10%;
}

header ul {
  display: flex;
  justify-content: space-between;
  padding: 10%;
}
header ul li {
  display: inline;
  font-size: 12px;
  font-weight: 300;
}
header ul li:nth-child(1) {
  padding-left: 10px;
}
.info p {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  color: rgb(115, 115, 115);
}
.info p:nth-of-type(n + 2) {
  margin-top: 5%;
}

.info p:nth-of-type(1) {
  margin-top: 15%;
}
.info h1,
p {
  margin-left: 10%;
  margin-top: 5%;
}
header a {
  color: rgb(115, 115, 115);
}
h1 {
  font-size: 38px;
  font-weight: 400;
}
.info h4 {
  font-size: 28px;
  font-weight: 400;
  margin-left: 44%;
  margin-top: -5%;
}

.argilla {
  text-align: center;
  display: block;
  width: 450px;
}
.argilla_bright {
  margin-top: -10px;
  margin-left: -10px;
}
h5 {
  font-size: 24px;
  font-weight: 300;
  margin-left: 25%;
  margin-top: 20%;
  margin-bottom: -15%;
}
input[type="text"] {
  border: none;
  background: none;
  margin-top: 5px;
  padding-bottom: 1%;
  border-bottom: 1px solid rgb(234, 204, 194);
  width: 450px;
}
input[type="email"] {
  border: none;
  background: none;
  padding-bottom: 1%;
  border-bottom: 1px solid rgb(234, 204, 194);
  width: 450px;
}
input[type="button"] {
  color: #2e2e2e;
  background: rgb(234, 204, 194);
  padding: 1.5% 3%;
  border-radius: 5%;
  margin-left: 50%;
  margin-top: 1%;
}
form {
  margin-left: 10%;
  margin-top: 2%;
}
::placeholder {
  color: #fff;
  font-size: 15px;
  padding-left: 10px;
  font-weight: 300;
}
#news {
  margin-left: 40%;
}
.preis {
  padding-top: 30px;
}
.facebook {
  margin-left: 50px;
}
.you {
  margin-right: 50px;
}
/* index.html*/
.index {
  display: block;
}
.center {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
  background: url(../img/section-about-1.jpg) center/cover no-repeat;
}
h2 {
  font-size: 30px;
  font-weight: 300;
  color: rgb(234, 204, 194);
}
.bottom {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.alchemy {
  width: 70%;
  margin-left: 30%;
  margin-top: 15%;
}
.wrapper ul {
  float: right;
  margin-top: -16%;
}
.wrapper header h2 {
  margin: 10% 35%;
}
.wrapper header img {
  margin: 2.5%;
}
.bottom h2 {
  margin-left: 10%;
  margin-top: 28%;
}
.bottom p {
  color: rgb(115, 115, 115);
  line-height: 25px;
}
.wrapper .facebook {
  margin-left: 40px;
  margin-right: 10px;
}
.wrapper .you {
  margin-right: 40px;
  margin-left: 10px;
}

@media (max-width: 1395px) {
  .kopfhörer {
    margin-left: 0%;
  }
}
@media (max-width: 1145px) {
  .kopfhörer {
    margin-left: 0%;
    width: 90%;
  }
}

@media (max-width: 1100px) {
  span {
    display: inline;
  }
}

@media (max-width: 992px) {
  .bild {
    width: 55%;
  }
  .bild3 {
    width: 55%;
  }
  article {
    margin-top: 40%;
    background: rgb(234, 204, 194, 0.1);
    width: 150px;
    padding: 70px 11px;
  }

  .info p {
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
  }

  .rahmen {
    padding: 2px;
    margin-left: 6px;
    display: none;
  }
  .facebook {
    margin-left: 1px;
  }
  .you {
    margin-right: 1px;
  }
}
@media (max-width: 768px) {
  header ul {
    display: flex;
    flex-direction: column;
    padding: 10%;
  }

  header ul li:nth-child(1) {
    padding-left: 0px;
  }
  header ul li {
    font-size: 12px;
    font-weight: 300;
    line-height: 3px;
  }
}
@media (max-width: 676px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .bild {
    width: 100%;
    margin: 0;
    padding: 18px 0;
  }
  .bild2 {
    width: 100%;
    margin: 0;
    padding: 18px 0;
  }
  .bild3 {
    width: 100%;
    margin: 0;
    padding: 18px 0;
  }
  .bild4 {
    width: 100%;
    margin: 0;
    padding: 18px 0;
  }
  .info {
    width: 100%;
  }

  header ul {
    display: flex;
    flex-direction: row;
    padding: 10%;
  }
  h1 {
    text-align: center;
    margin-right: 10%;
  }
  .info p {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin-right: 10%;
  }
  article {
    margin: 1px 0px;
    padding: 0;
    width: 100%;
    display: flex;
    background: rgb(255, 255, 255, 0.3);
  }
}
@media (max-width: 455px) {
  article {
    margin: 1px 0px;
    padding: 0;
    width: 100%;
    display: block;
    background: rgb(255, 255, 255, 0.3);
  }
}
